body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}
body{
	font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
}
html,body{
	height: 100%;
	overflow: hidden;
}
/*title*/
a{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color: #999;
}
.menu-a{
	cursor: pointer;
	font-size: 0.97em; 
}
#menu{
	position: fixed;
	top: 0px;
	height: 52px;
	width: 100%;
	background-color: #222;
	z-index: 100;
	color: #fff;
	overflow: hidden;
}
#menu .resumetitle a{
	font-size: 1.9em;
	line-height: 52px;
	color: #fff;
}
.resumetitle{
	margin-left: 12%;
	width: 200px;
	height: 100%;
	float: left;
	cursor: pointer;
}
.menukey{
	height: 52px;
	margin-left: 55%;
	width: 450px;
	position: absolute;
	top: 0px;
}
#homepic{
	height: 26px;
	width: 26px;
	margin-right: 2px;
	border: 0;
}


#container,.section{
	height: 100%;
	position: relative;
}
/*1*/
#about{
	background-color: #1889C5;
	color: #fff;
}
.logo{
	list-style: none;
	padding-top: 130px;
	text-align:center;
}
.logo li{
	display: inline;
}
.link-logo{
	height: 100px;
	width: 100px;
	border-radius: 200px;
	border: 0;
}
#link-github,#link-blog,#link-mail{
	margin-left: 60px;
}
.intro-{
	width: 800px;
	margin: 100px auto;
}
.intro-info{
	float: left;
	line-height: 30px;
	list-style: none;
}
.intro-aboutme{
	float: left;
	height: 100px;
	width: 560px;
	margin-left: 50px;
	line-height: 25px;
}
/*2*/
#skill{
	background-color: #22B573;
	color: #fff;
}
.title{
	text-align: center;
	padding-top: 130px;
	letter-spacing: 8px;
	font-size: 40px;
}
.skills{
	height: auto;
	width: 1140px;
	margin:0 auto; 
}
.skills ul{
	display: inline-block;
	height: auto;
	width: 210px;
	margin: 80px 0 0 56px;
	border: 2px solid #FFFFFF;
	font-size: 20px;
	font-family: "Microsoft YaHei light";
	text-align: center;
	vertical-align: top;
	list-style: none;
}
/*3*/
#exp{
	background-color: #26B1B6;
	color: #fff;
	height: 100%;
	width: 100%;
}
.timebox{
	text-align:center;
	margin-top: 80px;
	font-size: 29px;
	font-family: "Microsoft YaHei light";
}
.timebox li{
    display: inline-block;
    margin-top: 5px;
    width: 295px;
    text-align: left;
}
.timex{
	height: 27px;
	width: 868px;
	background: url(../img/timeline.png) no-repeat;
	margin-left: auto;
	margin-right: auto;
}
.workbox{
	text-align: center;
	margin-top: 5px;
	font-size: 26px;
}
.workbox li{
	display: inline-block;
	width: 295px;
	vertical-align: top;
	text-align: left;
}
.work-place{
	display: block;
	font-weight: bold;
}
.work-position{
	display: block;
	font-size: 20px;
}
.work-do{
	font-size: 16px;
}
.alinkstyle:hover{
	color: #FF7F00;
}
/*4*/
#works{
	background-color: #364B5F;
	color: #fff;
}
.webDesign{
    width: 860px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}
.clear_fix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    content: "";
}
.webDesign ul li {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    border-radius: 50px;
    background: #666;
    opacity: 0.3;
    list-style: none;

}
.webDesign ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    color: #fff;
}
.webDesign ul{
    display: block;
    list-style-type: disc;
}
.webDesign ul li  span{
	line-height: 100px;
	font-size: 20px;
}
/*5*/
#contact{
	background-color: #22B573;
	color: #fff;
}
.phonenum{
	width: 100%;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	margin-top: 100px;
}
.phonenum p,.emailnum p{
	text-align: center;
}
.emailnum{
	width: 100%;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	margin-top: 30px;
}
#pages{
	position:fixed;
	right: 10px;
	top: 50%;
	list-style: none;
}
#pages li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin: 0 0 10px 5px;
}
#pages li.active{
	width: 14px;
	height: 14px;
	border: 2px solid #FFFE00;
	background: none;
	margin-left: 0;
}