body{
	height:100%; 
}
.width-div{
	width: 90%;
	height: 98%;
	padding-top: 1%;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
	min-width: 810px;
	position: absolute;
	top: 0px;
	left: 5%;
	bottom: 0px;
	overflow: hidden;	
}
.top-title{
	width: 100%;
	height: 100px;
	padding-top: 10px;
	background-color: #FF7F00;
}
.mid-main{
	width: 100%;
	height:100%;
	padding-top: 16px;
	clear: both;
}
.left{
	width: 16%;
	height: 78%;
	min-height: 490px;
	float: left;
	background-color: #FF7F00;
}
.right{
	width: 83%;
	height: 100%;
	float: right;
	position: relative;
	left: 14px;
}
.notice{
	clear: both;
	width: 100%;
}
.thing{
	width: 100%;
	height: 40%;
}
.two-obj{
	font-size:0;
	letter-spacing:-3px;
}
.two-obj li{
	display: inline-block;
	height: 280px;
}
.notice-main{
	background-color: #FF7F00;
	margin-right: 5px;
	padding: 0px;
}
.todo{
	width: 32.5%;
	background-color: #FF7F00;
	margin-right: 5px;
	padding: 0px;
}
.three-obj{
	font-size:0;
	letter-spacing:-3px;
	margin-top: 5px;
}
.three-obj li{
	display: inline-block;
	
	width: 32.5%;
	height: 205px;
	margin-right: 5px;
	padding: 0px;
	background-color: #FF7F00;
}